<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/msvcomgt/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="codvel89@gmail.com" />
            <add key="ClearTextPassword" value="2640f27e1699de4ad33503c7cc128d4955311fa9" />
        </github>
    </packageSourceCredentials>
</configuration>